* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.footer {
  width: 1920px;
  height: 347px;
  display: flex;
  background-color: #232425;
  padding: 73px 250px 48px;
  justify-content: space-between;
  color: #ffffff;
}
p {
  margin-bottom: 39px;
}
.number {
  margin-bottom: 93px;
  color: #ffffff80;
  font-size: 18px;
  line-height: 81%;
}
.rights {
  color: #ffffff80;
}
.input {
  background: transparent;
  border: none;
  width: 407px;
  border-bottom: 1px solid #777;
  margin-left: -250px;
}

.socialMedia {
  gap: 26px;
}
.socialMedia img {
  width: 32px;
  height: 32px;
  margin: 26px;
}
.footerRight {
  display: grid;
  gap: 53px;
}
.input {
  width: 208px;
  height: 20px;
  font-size: 20px;
}
